---
name: CICD
"on":
  pull_request:
    branches: [main]
  push:
    branches: [main]
env:
  PYTHON_VERSION_FILE: ".python-version"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Python and dependencies
        uses: ./.github/actions/poetryinstall
        with:
          python-version-file: ${{ env.PYTHON_VERSION_FILE }}
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        run: docker build -t code-review-exercise-python:${{ github.sha }} .
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@0.4.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Python and dependencies
        uses: ./.github/actions/poetryinstall
        with:
          python-version-file: ${{ env.PYTHON_VERSION_FILE }}
      - name: Test
        run: poetry run pytest
